/* header */
.cabecalhoPrincipal {
    .container {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    
    &-nav{
        display: flex; 
    }
}

/* Main */
.conteudoPrincipal {
    &-cursos{
       display: flex;
       flex-wrap: wrap;
       justify-content: space-between;
       &-link {
           width: 23%;
           &:nth-child(4n) {
               margin-right: 0;
           }
           &:nth-child(4n+1) {
                margin-left: 0;
            }
            &:last-child {
                margin-right: 0;
            }
        }
    }
}

/* footer */
.rodapePrincipal{
    &-patrocinadores{
        
        .container{
            display: flex;
            justify-content: space-between;
        }

        &-list{
          display: flex;  
          align-items: center;
          justify-content: space-around;
          width: 70%;
          margin-right: 5%;
        }
    }

    &-contatoForm{
        width: 25%;
    }

    &-contatoForm{
        &-fieldset{
            display: flex;
        }
    
    }

          
    &-navMap {
            
        &-list {
            display: flex;
            /*flex-direction: column;
            flex-wrap: wrap;*/
            flex-flow: column wrap;
            height: 250px;
        }
    }
    
}